.zsh/.zcompdump*
.zsh/credentials.zsh
.zsh/machine-specific.zsh
.git-config/.gitconfig.user
.git-config/.gitconfig.mergepbx
.git-config/.gitconfig.hub
.tmux/resurrect
.vim/.netrwhist
.vim/bundle/*
!.vim/bundle/neobundle.vim
